body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-ibarra-real-nova: "Ibarra Real Nova";
  
    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --color-white: #fff;
    --color-crimson-100: #d81b60;
    --color-crimson-200: rgba(255, 69, 97, 0.15);
    --color-crimson-300: rgba(237, 42, 70, 0.15);
    --color-black: #000;
  
    /* Gaps */
    --gap-25xl: 44px;
  
    /* Paddings */
    --padding-8xl: 27px;
    --padding-36xl: 55px;
    --padding-10xl: 29px;
    --padding-4xs: 9px;
    --padding-xs: 12px;
    --padding-22xl: 41px;
    --padding-23xl: 42px;
  }