.imageedit-1-3345553200-2-icon {
    height: 80px;
    width: 357px;
    position: relative;
    object-fit: cover;
    min-height: 80px;
    max-width: 100%;
  }
  .tracking-label-child {
    height: 62px;
    width: 195px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-crimson-300);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
  }
  .tracking,
  .tracking1,
  .tracking2 {
    position: relative;
    display: inline-block;
    min-width: 112px;
    z-index: 1;
  }
  .tracking1,
  .tracking2 {
    z-index: 2;
  }
  .tracking2 {
    z-index: 3;
    margin-left: -112px;
  }
  .tracking-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -112px;
  }
  .tracking-parent {
    margin: 0;
    flex-direction: row;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-ibarra-real-nova);
  }
  .tracking-label,
  .tracking-label-wrapper,
  .tracking-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tracking-label {
    margin: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-crimson-300);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-22xl) var(--padding-xs)
      var(--padding-23xl);
  }
  .tracking-label-wrapper {
    flex-direction: column;
    padding: var(--padding-4xs) 0 0;
  }
  .frame-child {
    height: 62px;
    width: 195px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-crimson-300);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
  }
  .wellness {
    position: relative;
    font-size: var(--font-size-11xl);
    font-family: var(--font-ibarra-real-nova);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 112px;
    z-index: 1;
  }
  .frame-item,
  .rectangle-parent {
    border-radius: var(--br-31xl);
    background-color: var(--color-crimson-300);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-22xl) var(--padding-xs)
      var(--padding-23xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-group:hover,
  .rectangle-parent:hover {
    background-color: var(--color-crimson-200);
  }
  .frame-item {
    height: 62px;
    width: 195px;
    position: relative;
    display: none;
  }
  .nutrition {
    position: relative;
    font-size: var(--font-size-11xl);
    font-family: var(--font-ibarra-real-nova);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 118px;
    z-index: 1;
  }
  .rectangle-group {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 38px var(--padding-xs) 39px;
    background-color: var(--color-crimson-300);
    border-radius: var(--br-31xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
  }
  .frame-group,
  .frame-wrapper,
  .rectangle-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-group {
    flex-direction: row;
    gap: var(--gap-25xl);
  }
  .frame-wrapper {
    flex-direction: column;
    padding: var(--padding-4xs) 34px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-inner {
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 100px;
    object-fit: cover;
  }
  .frame-parent,
  .imageedit-1-3345553200-2-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent {
    justify-content: flex-start;
    gap: var(--gap-25xl);
  }
  .imageedit-1-3345553200-2-parent {
    height: 80px;
    justify-content: space-between;
    gap: 20px;
  }
  .image-3-icon,
  .image-3-icon1 {
    position: absolute;
    margin: 0 !important;
    object-fit: contain;
  }
  .image-3-icon {
    height: 350px;
    width: 767px;
    right: -612px;
    bottom: -207px;
  }
  .image-3-icon1 {
    height: 330px;
    width: 500px;
    bottom: -222px;
    left: -357px;
  }
  .rectangle-div {
    width: 726px;
    height: 611px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-crimson-300);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    max-width: 100%;
  }
  .blank-line,
  .need-to-track,
  .well-help,
  .when-did-you {
    margin: 0;
  }
  .need-to-track-container {
    align-self: stretch;
    height: 250px;
    position: relative;
    display: inline-block;
    z-index: 2;
  }
  .button-label-child {
    height: 111px;
    width: 468px;
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-crimson-100);
    display: none;
    max-width: 100%;
  }
  .click-here-to {
    position: relative;
    font-size: var(--font-size-21xl);
    font-family: var(--font-ibarra-real-nova);
    color: var(--color-white);
    text-align: left;
    z-index: 3;
  }
  .button-label,
  .button-label-wrapper {
    flex-direction: row;
    box-sizing: border-box;
  }
  .button-label {
    cursor: pointer;
    border: 0;
    padding: 31px var(--padding-36xl) 30px;
    background-color: var(--color-crimson-100);
    flex: 1;
    border-radius: var(--br-21xl);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    max-width: 100%;
    z-index: 2;
  }
  .button-label:hover {
    background-color: #ff4287;
  }
  .button-label-wrapper {
    align-self: stretch;
    padding: 0 58px;
  }
  .button-label-wrapper,
  .image-3-parent,
  .rectangle-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .rectangle-container {
    flex: 1;
    border-radius: var(--br-31xl);
    background-color: var(--color-crimson-300);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    padding: 84px 71px 108px;
    box-sizing: border-box;
    gap: 58px;
    z-index: 1;
  }
  .image-3-parent {
    width: 726px;
    flex-direction: row;
    position: relative;
  }
  .desktop-3,
  .desktop-3-inner {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .desktop-3-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 6px 0 0;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-ibarra-real-nova);
  }
  .desktop-3 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 59px 48px 207px 54px;
    gap: 67px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .tracking-label {
      display: none;
    }
  }
  @media screen and (max-width: 1050px) {
    .need-to-track-container {
      font-size: 32px;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-group,
    .tracking-group,
    .tracking-parent {
      display: none;
    }
    .button-label {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
    .button-label-wrapper {
      padding-left: var(--padding-10xl);
      padding-right: var(--padding-10xl);
      box-sizing: border-box;
    }
    .rectangle-container {
      gap: 29px 58px;
      padding: var(--padding-36xl) 35px 70px;
      box-sizing: border-box;
    }
    .desktop-3 {
      gap: 33px 67px;
      padding-left: var(--padding-8xl);
      padding-right: 24px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .frame-group,
    .frame-parent {
      gap: 44px 22px;
    }
    .need-to-track-container {
      font-size: 24px;
    }
}